* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* font-family: 'Courier New', Courier, monospace; */
}

body {
  overflow-y: hidden;
  width: 100%;
  min-height: 100vh;
  /* border: 2px dashed darkblue; */
}


@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}