@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  display: flex;
  width: 80%;
  height: 100vh;
  background-color: rgb(151, 136, 136);
}

.boxNav {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 24%;
  background-color: rgb(30, 33, 58);
  /* height: 100%; */
  /* padding: 2%; */
  color: white;
  transition: 1000ms;
}

.compress {
  transition: 1000ms;
  transform: scale(1, 0.2);
  transform: translateY(-100%);
}

/* --------------------------boxClimate------------------------------ */
.boxClimate {
  height: 100%;
  width: 30%;
  background-color: rgb(30, 33, 58);
  /* height: 100%; */
  /* padding: 2%; */
  color: white;
  overflow: hidden;
}

.grados {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  /* padding: 0; */
}

.grados>h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
}

.grados>span {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  padding-top: 30px;
}

/* ---------------------------Days------------------------------ */
.daysBox {
  width: 80%;
  height: 22vh;
  display: grid;
  /* border: 1px solid purple; */
  /* width: 100%; */
  /* background-color: aqua; */
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  /* grid-auto-rows: 120px; */
}

/* ---------------------------boxToday------------------------------- */
.boxToday {
  height: 100%;
  width: 70%;
  background-color: rgb(16, 14, 29);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* height: 100%; */
  padding: 0% 3%;
}

.boxToday>div>button {
  font-weight: bolder;
  background-color: rgb(88, 86, 118);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxToday>div>button:hover {
  background-color: white;
  color: rgb(16, 14, 29);
}

.imgWeaterT {
  width: 50px;
}

.imgWeaterBC {
  position: absolute;
  width: 150px;
}

.bgCloudBC {
  /* height: 35vh; */
  /* width: 530px; */
  user-select: none;
  width: 500px;
  opacity: 0.1;
}

.todayHigh {
  /* container p-0 d-grid */
  display: grid;
  border: 1px solid purple;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /* grid-auto-rows: 120px; */
}

.num {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 40px;
  font-weight: 700;
  /* background-color: aqua; */
}

/* Mobile */
@media (max-width: 700px) {


  .main {
    background-color: aqua;
    flex-direction: column;
    width: 100%;
    height: 360vh;
  }

  .boxNav {
    height: 100vh;
    width: 100%;
  }

  .boxClimate {
    height: 100vh;
    width: 100%;
    color: white;
    /* padding-bottom: 10px; */
  }

  .grados>h1 {
    font-size: 80px;
    padding: 0;
    margin: 0;
  }

  .grados>span {
    font-size: 28px;
    padding-top: 20px;
    padding: 0;
    margin: 0;
  }

  .boxToday {
    height: 260vh;
    width: 100%;
  }

  .bgCloudBC {
    margin-top: 50px;
    width: 500px;
    /* background-color: aqua; */
  }

  .todayHigh {
    grid-template-columns: repeat(1, 1fr);
  }

  .daysBox {
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
  }

  .credits {
    font-size: 11px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    width: 100%;
  }

  .boxClimate {
    height: 100%;
  }

  .boxNav {
    width: 30%;
  }

  .imgWeaterBC {
    width: 130px;
  }

  .bgCloudBC {
    width: 400px;
  }
}

/* 4k Desktop */
@media (min-width: 2160px) {
  .main {
    width: 100%;
  }

  .boxNav {
    width: 30%;
  }
}