.imgWeaterT {
    width: 50px;
}

.day {
    font-size: 13px;
}

.dayTxt {
    font-size: 13px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .day {
        font-size: 9px;
    }

    .imgWeaterT {
        width: 40px;
    }

    .dayTxt {
        font-size: 9px;
    }
}